{% extends '::base.html.twig' %}
{% block body %}
    <div id="playground">
        <h1 id="envelopeValue">Wartość koperty: {{envelopeValue}}</h1>
        <h3>{{question.question}}</h3>
        <form>
            {% for answer in question.answers %}
                <input type="radio" name="answer" class="answer" value="{{ answer.id }}" value="{{answer.answer}}">{{answer.answer}}<br>
                {#{{answer.answer}}#}
            {%endfor%}
            <input type="submit" id="confirm" value="Sprawdź odpowiedź">
        </form>

        {%if currentWinnings %}
            <h3 id="currentWinnings">Aktualna wygrana: {{currentWinnings}}</h3>
        {%endif%}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/javascripts/question.js') }}" ></script>
{% endblock %}
